input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
input:checked[type="checkbox"]{
    background: #286DBD;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
input:checked[type="checkbox"]:before{
    left: 20px;
}