<div class="container mx-auto p-6">
    <h3 class="text-3xl font-bold">{{id=='create' ? 'Create admin' : 'Update admin'}}</h3>
    <form class="bg-white border rounded-lg mt-12 p-6" autocomplete="off" [formGroup]="menuForm" (ngSubmit)="submit()">
        <div class="flex gap-6 mb-6">
            <div class="flex flex-col w-full">
                <label for="name">Name</label>
                <input type="text" class="border rounded-lg py-4 px-6 text-2xl w-full" id="name" name="name"
                    formControlName="name" />
                <span class="text-red-400 text-2xl" *ngIf="invalidField('name')">{{nameErrorMsg}}</span>
            </div>
            <div class="flex flex-col w-full">
                <label for="email">Email</label>
                <input type="text" class="border rounded-lg py-4 px-6 text-2xl w-full" id="email" name="email"
                    formControlName="email" />
                <span class="text-red-400 text-2xl" *ngIf="invalidField('email')">{{emailErrorMsg}}</span>
            </div>
        </div>
        <div class="flex gap-6 mb-6">
            <div class="flex flex-col w-full">
                <label for="password">Password</label>
                <input type="password" class="border rounded-lg py-4 px-6 text-2xl w-full" id="password" name="password"
                    formControlName="password" />
                <span class="text-red-400 text-2xl" *ngIf="invalidField('password')">{{passwordErrorMsg}}</span>
            </div>
            <div class="flex flex-col w-full">
                <label for="role">Role</label>
                <select class="border rounded-lg py-4 px-6 text-2xl w-full" id="role" name="role"
                    formControlName="role">
                    <option value="administrator">Administrator</option>
                    <option value="publisher">Publisher</option>
                    <option value="reader">Reader</option>
                </select>
                <span class="text-red-400 text-2xl" *ngIf="invalidField('role')">{{roleErrorMsg}}</span>
            </div>
        </div>
        <div class="flex justify-end gap-6">
            <button class="bg-green-500 text-white p-5 font-bold rounded-lg" type="submit">{{id=='create' ? 'Create' :
                'Update'}}</button>
            <button class="bg-red-500 text-white p-5 font-bold rounded-lg" routerLink="/administrators"
                type="button">Cancel</button>
        </div>
    </form>
</div>